1ère année/Projet Universitaire/programmes/flows.json
[{"id":"aa658ecd.1573a","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"71655af4.ca9694","type":"mqtt in","z":"aa658ecd.1573a","name":"","topic":"projet/si7021a/ctemp","qos":"2","datatype":"auto","broker":"fe9af34e.5ada7","x":195.5,"y":113,"wires":[["1f366d45.d63cf3"]]},{"id":"1f366d45.d63cf3","type":"function","z":"aa658ecd.1573a","name":"Create query in topic","func":"var newMsg = { payload: msg.payload };\nnewMsg.topic=\"insert into ctemp (valeur) values (\"+newMsg.payload+\")\";\nreturn newMsg;","outputs":1,"noerr":0,"x":444,"y":108,"wires":[["58f17e37.b8c57"]]},{"id":"68256095.289ea","type":"mqtt in","z":"aa658ecd.1573a","name":"","topic":"projet/si7021a/ftemp","qos":"2","datatype":"auto","broker":"fe9af34e.5ada7","x":186,"y":216,"wires":[["8f45a740.540c68"]]},{"id":"8f45a740.540c68","type":"function","z":"aa658ecd.1573a","name":"Create query in topic","func":"var newMsg = { payload: msg.payload };\nnewMsg.topic=\"insert into ftemp (valeur) values (\"+newMsg.payload+\")\";\nreturn newMsg;","outputs":1,"noerr":0,"x":434.5,"y":211,"wires":[["58f17e37.b8c57"]]},{"id":"1165c5ec.f97dda","type":"mqtt in","z":"aa658ecd.1573a","name":"","topic":"projet/si7021a/crosee","qos":"2","datatype":"auto","broker":"fe9af34e.5ada7","x":197,"y":310,"wires":[["ba113c48.a811d"]]},{"id":"ba113c48.a811d","type":"function","z":"aa658ecd.1573a","name":"Create query in topic","func":"var newMsg = { payload: msg.payload };\nnewMsg.topic=\"insert into crosee (valeur) values (\"+newMsg.payload+\")\";\nreturn newMsg;","outputs":1,"noerr":0,"x":435.5,"y":305,"wires":[["58f17e37.b8c57"]]},{"id":"4d6627cc.d7b1c8","type":"mqtt in","z":"aa658ecd.1573a","name":"","topic":"projet/si7021a/frosee","qos":"2","datatype":"auto","broker":"fe9af34e.5ada7","x":189,"y":399,"wires":[["319af58e.a9904a"]]},{"id":"319af58e.a9904a","type":"function","z":"aa658ecd.1573a","name":"Create query in topic","func":"var newMsg = { payload: msg.payload };\nnewMsg.topic=\"insert into frosee (valeur) values (\"+newMsg.payload+\")\";\nreturn newMsg;","outputs":1,"noerr":0,"x":427.5,"y":394,"wires":[["58f17e37.b8c57"]]},{"id":"6ef02024.aaa8","type":"mqtt in","z":"aa658ecd.1573a","name":"","topic":"projet/si7021a/hum","qos":"2","datatype":"auto","broker":"fe9af34e.5ada7","x":188,"y":465,"wires":[["659ce676.869bf8"]]},{"id":"659ce676.869bf8","type":"function","z":"aa658ecd.1573a","name":"Create query in topic","func":"var newMsg = { payload: msg.payload };\nnewMsg.topic=\"insert into hum (valeur) values (\"+newMsg.payload+\")\";\nreturn newMsg;","outputs":1,"noerr":0,"x":436.5,"y":460,"wires":[["58f17e37.b8c57"]]},{"id":"853bc1ab.e4707","type":"mqtt in","z":"aa658ecd.1573a","name":"","topic":"projet/sct013/tension","qos":"2","datatype":"auto","broker":"fe9af34e.5ada7","x":183,"y":37,"wires":[["96a796da.aa0f58"]]},{"id":"96a796da.aa0f58","type":"function","z":"aa658ecd.1573a","name":"Create query in topic","func":"var newMsg = { payload: msg.payload };\nnewMsg.topic=\"insert into tension (valeur) values (\"+newMsg.payload+\")\";\nreturn newMsg;","outputs":1,"noerr":0,"x":431.5,"y":32,"wires":[["670bbf4b.87724"]]},{"id":"178468af.1cf6f7","type":"mqtt in","z":"aa658ecd.1573a","name":"","topic":"projet/si7021pi/ctemp","qos":"2","datatype":"auto","broker":"fe9af34e.5ada7","x":186,"y":568,"wires":[["57cd90af.2747a"]]},{"id":"57cd90af.2747a","type":"function","z":"aa658ecd.1573a","name":"Create query in topic","func":"var newMsg = { payload: msg.payload };\nnewMsg.topic=\"insert into ctemp (valeur) values (\"+newMsg.payload+\")\";\nreturn newMsg;","outputs":1,"noerr":0,"x":424.5,"y":563,"wires":[["ea1e9625.7c50f8"]]},{"id":"ecc29159.29d04","type":"mqtt in","z":"aa658ecd.1573a","name":"","topic":"projet/si7021pi/ftemp","qos":"2","datatype":"auto","broker":"fe9af34e.5ada7","x":166.5,"y":671,"wires":[["d711f6d.ef15208"]]},{"id":"d711f6d.ef15208","type":"function","z":"aa658ecd.1573a","name":"Create query in topic","func":"var newMsg = { payload: msg.payload };\nnewMsg.topic=\"insert into ftemp (valeur) values (\"+newMsg.payload+\")\";\nreturn newMsg;","outputs":1,"noerr":0,"x":415,"y":666,"wires":[["ea1e9625.7c50f8"]]},{"id":"ae58aca0.284c3","type":"mqtt in","z":"aa658ecd.1573a","name":"","topic":"projet/si7021pi/crosee","qos":"2","datatype":"auto","broker":"fe9af34e.5ada7","x":177.5,"y":765,"wires":[["6e9df59b.f991ac"]]},{"id":"6e9df59b.f991ac","type":"function","z":"aa658ecd.1573a","name":"Create query in topic","func":"var newMsg = { payload: msg.payload };\nnewMsg.topic=\"insert into crosee (valeur) values (\"+newMsg.payload+\")\";\nreturn newMsg;","outputs":1,"noerr":0,"x":416,"y":760,"wires":[["ea1e9625.7c50f8"]]},{"id":"44c55d08.bc0384","type":"mqtt in","z":"aa658ecd.1573a","name":"","topic":"projet/si7021pi/frosee","qos":"2","datatype":"auto","broker":"fe9af34e.5ada7","x":169.5,"y":854,"wires":[["3c678e2d.41ff72"]]},{"id":"3c678e2d.41ff72","type":"function","z":"aa658ecd.1573a","name":"Create query in topic","func":"var newMsg = { payload: msg.payload };\nnewMsg.topic=\"insert into frosee (valeur) values (\"+newMsg.payload+\")\";\nreturn newMsg;","outputs":1,"noerr":0,"x":408,"y":849,"wires":[["ea1e9625.7c50f8"]]},{"id":"9e8d17cc.c16448","type":"mqtt in","z":"aa658ecd.1573a","name":"","topic":"projet/si7021pi/humidite","qos":"2","datatype":"auto","broker":"fe9af34e.5ada7","x":178.5,"y":920,"wires":[["41960dc7.b7f4d4"]]},{"id":"41960dc7.b7f4d4","type":"function","z":"aa658ecd.1573a","name":"Create query in topic","func":"var newMsg = { payload: msg.payload };\nnewMsg.topic=\"insert into hum (valeur) values (\"+newMsg.payload+\")\";\nreturn newMsg;","outputs":1,"noerr":0,"x":417,"y":915,"wires":[["ea1e9625.7c50f8"]]},{"id":"670bbf4b.87724","type":"mysql","z":"aa658ecd.1573a","mydb":"12e85fa8.f790e","name":"","x":734.5,"y":24,"wires":[[]]},{"id":"58f17e37.b8c57","type":"mysql","z":"aa658ecd.1573a","mydb":"e75edc07.99f41","name":"","x":792.5,"y":360,"wires":[[]]},{"id":"ea1e9625.7c50f8","type":"mysql","z":"aa658ecd.1573a","mydb":"8931ed85.36064","name":"","x":840.5,"y":691,"wires":[[]]},{"id":"fe9af34e.5ada7","type":"mqtt-broker","z":"","name":"","broker":"192.168.1.214","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"12e85fa8.f790e","type":"MySQLdatabase","z":"","host":"localhost","port":"3306","db":"sct013","tz":""},{"id":"e75edc07.99f41","type":"MySQLdatabase","z":"","host":"localhost","port":"3306","db":"si7021a","tz":""},{"id":"8931ed85.36064","type":"MySQLdatabase","z":"","host":"localhost","port":"3306","db":"si7021pi","tz":""}]